In [1]:
import pandas as pd

In [3]:
import  statsmodels.formula.api as smf

In [28]:
data= pd.read_csv("50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [29]:
data.State.unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [30]:
from sklearn.preprocessing import LabelEncoder
label= LabelEncoder()

In [31]:
data['State'] = label.fit_transform(data['State'])

In [32]:
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [37]:
data.corr()

              RandD     Admin  Marketing     State    Profit
RandD      1.000000  0.241955   0.724248  0.104685  0.972900
Admin      0.241955  1.000000  -0.032154  0.011847  0.200717
Marketing  0.724248 -0.032154   1.000000  0.077670  0.747766
State      0.104685  0.011847   0.077670  1.000000  0.101796
Profit     0.972900  0.200717   0.747766  0.101796  1.000000

In [33]:
data.columns= ["RandD","Admin","Marketing","State","Profit"]

In [34]:
data.head()

       RandD      Admin  Marketing  State     Profit
0  165349.20  136897.80  471784.10      2  192261.83
1  162597.70  151377.59  443898.53      0  191792.06
2  153441.51  101145.55  407934.54      1  191050.39
3  144372.41  118671.85  383199.62      2  182901.99
4  142107.34   91391.77  366168.42      1  166187.94

In [47]:
model = smf.ols('Profit~RandD+Admin+Marketing',data=data).fit()

In [48]:
model.rsquared

0.9507459940683246

In [40]:
model.pvalues

Intercept    1.057379e-09
RandD        2.634968e-22
Admin        6.017551e-01
Marketing    1.047168e-01
dtype: float64

#vif calculation

In [42]:
rsq_RandD = smf.ols('RandD~Admin+Marketing',data=data).fit().rsquared  
vif_r = 1/(1-rsq_RandD) # 16.33

rsq_Admin = smf.ols('Admin~RandD+Marketing',data=data).fit().rsquared  
vif_a = 1/(1-rsq_Admin) # 564.98

rsq_Marketing = smf.ols('Marketing~RandD+Admin',data=data).fit().rsquared  
vif_m = 1/(1-rsq_Marketing) #  564.84



# Storing vif values in a data frame
d1 = {'Variables':['RandD','Admin','Marketing'],'VIF':[vif_r,vif_a,vif_m]}
Vif_frame = pd.DataFrame(d1)  
Vif_frame

   Variables       VIF
0      RandD  2.468903
1      Admin  1.175091
2  Marketing  2.326773

#since vif values are less than 20 no multicolinearity problem

In [45]:
model = smf.ols('Profit~RandD+Admin+Marketing+State',data=data).fit()
model.rsquared

0.9507462044842656